<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Votação</title>

    <!-- Bootstrap core CSS -->
    <link href="/../../startbootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/../../startbootstrap/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
    
        <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Salvar"/>
        </form>

        <script src="/../../startbootstrap/vendor/jquery/jquery.min.js"></script>
        <script src="/../../startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
    
</body>
   
</html>
    