{% extends 'base.html'%}

{% block content %}

<table class="table table-striped">
        <tbody>
          <tr>
            <th style="width: 2%">#</th>
            <th>Comentários</th>
            <th>Usuário</th>
            <th>Proposta</th>
          </tr>
          {% for object in object_list %}
            <tr>
                <td></td>
                <td>{{ object.comentario }}</td>
                <td>{{ object.usuario }}</td>
                <td>{{ object.proposta }}</td>
            </tr>
          {% endfor %}
        </tbody>
</table>

<!--
<ul>

    {% for object in object_list %}
        <li> {{ object.comentario }}. by {{ object.usuario }}</li>
    {% endfor %}

</ul>
-->
{% endblock %}  